<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Senior Project</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
</head>
  <body>
	<nav>
    <ul>
	  <li><a href="/index">Welcome</a></li>
        <li><a href="/emplist">Employee List</a></li>
	  <li><a href="/clientlist">Client List</a></li>
        <li><a href="/addemp">Enter Employee</a></li>
        <li><a href="/addclient">Enter Client</a></li>
        <li><a href="/distances">Distance Matrix</a></li>
    </ul>
	</nav>
	<div class = "header">
		<img src="/static/logo.png" width="60" height="60">
		<div class = "text">
			Home Service Scheduler
		</div>
	</div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <div>{{ message }} </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
