<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>Distances between Employees and Clients</h2>
    <p>
      {% for d in distances %}
		<div>
		Travel info for <b>{{ d.fname }} {{ d.lname }}</b> at {{ d.address }}, via {{d.mode}} to:
		</div>
		<table border=1px>
		    <tr>
		        <th>F. Name</th> <th>L. Name</th> <th>Address</th> <th>Distance</th> <th>Travel Time</th>
		    </tr>
		{% for di in d.dist_info %}
		    <tr>
		        <td>{{di.fname}}</td> <td>{{di.lname}}</td> <td>{{ di.address }}</td>
		        <td>{{di.distance}}</td> <td>{{ di.travel_time }}</td>
		    </tr>
		{% endfor %}
		</table>
		<div>--</div>
	  {% endfor %}
    </p>
    </p>
{% endblock %}